{% extends 'auth/base.html' %}
{% block title %}
<title>information</title>
{% endblock %}
{% block body %}
        <div class="wrapper">
            <form method="post">
                <header class="auth-header">
                    <a class="information_back" href="{{ url_for('categories_view') }}">＜戻る</a>
                    <h3>アカウント</h3>
                    <img class="logo" src="../../static/img/logo.png"/>
                </header>
                <div>
                    <p>基本情報・パスワード/確認・変更フォーム</p>
                </div>
                <div class="information">
                    <div>
                        <h4 class="information_name">アカウント名</h4>
                        <p>現在: {{ user.name }}</p>
                        <label for="new_name_input" class="information_text">新規
                        <input class="information_form"
                        type="text"
                        placeholder="アカウント名を入力してください"     
                        name="name"
                        id="new_name_input"></label>
                    </div>
                    <div>
                        <h4 class="information_name">メールアドレス</h4>
                        <p>現在: {{ user.email }}</p>
                        <label for="new_email_input" class="information_text">新規
                        <input class="information_form"
                        type="text"
                        placeholder="メールアドレスを入力してください"
                        name="email"
                        id="new_email_input"></label>
                    </div>
                    <input type="submit" value="変更" class="information_button">
                </div> 
                <div class="information">   
                    <div>
                        <h4 class="information_name">パスワード変更</h4>
                        {# ここはセキュリティ上、表示しない方が良いかも
                        <p>現在</p>
                        #}
                        <label for="new_password_input" class="information_text">新規
                        <input class="information_form"
                        type="password"
                        placeholder="パスワードを入力してください"
                        name="password"
                        id="new_password_input"></label>
                    </div>
                    <div>
                        <label for="new_password_confirmation_input" class="information_text2">確認用
                        <input class="information_form" 
                        type="password"
                        placeholder="パスワードを入力してください"
                        name="confirmation_password"
                        id="new_password_confirmation_input"></label>
                    </div>
                    <input type="submit" value="変更" class="information_button">
                </div>    
            </form>
        </div>
{% endblock %}