{% extends 'auth/base.html' %}
{% block title %}
<title>message</title>
{% endblock %}
{% block body %}        
        <div class="message_room">
            <header class="auth-header">
                <a class="back" href="{{ url_for('spots_view', pid=spot.pid) }}">＜</a>
                <h3 class="spot">{{ spot.spot_name }}</h3>
                <a href="{{ url_for('categories_view') }}">
                    <img class="message_home" src="../../static/img/home.png" alt="ホーム" />
                </a>
                <img class="logo" src="../../static/img/logo.png"/>
            </header>
            <div class="room">
                {% if messages|length > 0 %}
                    <ul>
                        {% for message in messages %}
                            <li class="chat {% if message.uid == uid %}me{% else %}you{% endif %}">
                                {% if message.uid != uid %}
                                    <p class="user-name">{{ message.name }}</p> 
                                {% endif %}
                                <p class="message">{{ message.message }}</p>
                                <div class="time_stamp">{{ message.created_at }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>まだメッセージがありません。</p>
                {% endif %}
                <div class="message_bar">
                    <form class="message_box" method="post" action="{{ url_for('create_message', sid=spot.id) }}">
                        <textarea name="message" autofocus placeholder="メッセージを入力してください"></textarea>
                        <button type="submit" class="send_button">送信＞</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
