{% extends 'auth/base.html' %} {% block title %}
<title>spot</title>
{% endblock %} {% block body %}
<div class="wrapper">
    <form method="get">
        <header class="auth-header">
            <img class="logo" src="../../static/img/logo.png" alt="ロゴ" />
            <a  href="{{ url_for('categories_view') }}">
                <img class="home"
                src="../../static/img/home.png" alt="ホーム" />
            </a>
        </header>
        <h1 class="prefectures_title">都道府県から釣り場を探す</h1>
        <div class="spots">
            <div class="prefectures_box">
                <h2>北海道・東北</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=1) }}">北海道</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=2) }}">青森県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=3) }}">岩手県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=4) }}">宮城県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=5) }}">秋田県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=6) }}">山形県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=7) }}">福島県</a>
            </div>
            <div class="prefectures_box">
                <h2>関東</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=8) }}">茨城県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=9) }}">栃木県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=10) }}">群馬県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=11) }}">埼玉県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=12) }}">千葉県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=13) }}">東京都</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=14) }}">神奈川県</a>
            </div>
            <div class="prefectures_box">
                <h2>中部</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=15) }}">新潟県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=16) }}">富山県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=17) }}">石川県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=18) }}">福井県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=19) }}">山梨県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=20) }}">長野県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=21) }}">岐阜県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=22) }}">静岡県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=23) }}">愛知県</a>
            </div>
            <div class="prefectures_box">
                <h2>近畿</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=24) }}">三重県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=25) }}">滋賀県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=26) }}">京都府</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=27) }}">大阪府</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=28) }}">兵庫県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=29) }}">奈良県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=30) }}">和歌山県</a>
            </div>
            <div class="prefectures_box">
                <h2>中国</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=31) }}">鳥取県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=32) }}">島根県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=33) }}">岡山県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=34) }}">広島県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=35) }}">山口県</a>
            </div>
            <div class="prefectures_box" >
                <h2>四国</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=36) }}">徳島県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=37) }}">香川県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=38) }}">愛媛県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=39) }}">高知県</a>
            </div>
            <div class="prefectures_box">
                <h2>九州・沖縄</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=40) }}">福岡県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=41) }}">佐賀県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=42) }}">長崎県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=43) }}">熊本県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=44) }}">大分県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=45) }}">宮崎県</a><br>
                <a class="spot_button" href="{{ url_for('spots_view',pid=46) }}">鹿児島県</a>
                <a class="spot_button" href="{{ url_for('spots_view',pid=47) }}">沖縄県</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}