{% extends 'auth/base.html' %} {% block title %}
<title>釣りスポット選択</title>
{% endblock %}{% block body %}
<div class="wrapper">
    <header class="auth-header">
        <!-- <a class="spot_text" href="prefectures_view">＜海</a> -->
        <!-- <a class="spot_text" href="prefectures_view "></a> -->
        <h1>
          {% if prefecture %}
            <h3>{{ prefecture.prefecture_name }}&lt;{{ category.category_name }}&gt;の釣りスポット</h3>
          {% endif %}
          <!-- <li>spots.pid</li>  どうやって都道府県の文字を動的に表示させれば良いか質問する！！！--> 
        </h1>
        <!-- <a class="spot_text" href="categorias_view">HOME</a> -->
        <a class="spot_text" href="{{ url_for('categories_view') }}">HOME</a>
    </header>
    
    <!-- フラッシュメッセージの表示 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <!-- スポット追加「＋」 -->
     <div class="add_spot">
        <a class="add_spot" href="{{ url_for('add_spot_view', pid=prefecture.id) }}">＋</a>
     </div>
    <!-- スポット一覧を表示 -->
     <div class="spot_section">
        <ul class="spot_list">
          {% for spot in spots %}
            <li>
              <a href="{{ url_for('spot_room_view', sid=spot.id) }}">{{ spot.spot_name }}</a>
            </li>
          {% endfor %}
        </ul>
     </div>







</div>
</body>
{% endblock %}